@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-barlow text-base leading-[1.6] text-black;
}

ul {
  @apply list-none;
}

.container {
  @apply mx-auto max-w-[1280px] px-4;
}

.header {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    linear-gradient(
      248.75deg,
      rgba(0, 159, 157, 0.41) 0%,
      rgba(15, 10, 60, 0.41) 38.46%
    ),
    url('/images/banner_image.png') center/cover no-repeat;
  @apply flex min-h-screen items-center justify-start;
}

/* category section */
.sc-category {
  background:
    linear-gradient(
      180deg,
      rgba(12, 10, 36, 0.73) 0%,
      rgba(0, 0, 0, 0.73) 72.92%
    ),
    url('/images/category_image.png') center/cover no-repeat;
}

.line {
  @apply relative mx-auto mt-4 h-[6px] w-[160px] bg-green-normal before:absolute 
        before:right-[-5px] before:border-b-[3.5px] before:border-l-[6px] before:border-t-[3.5px] before:border-solid before:border-b-transparent 
        before:border-l-green-normal before:border-t-transparent before:content-['']
        after:absolute after:left-[-5px] after:border-b-[3.5px] after:border-r-[6px] after:border-t-[3.5px]
        after:border-solid after:border-b-transparent after:border-r-green-normal after:border-t-transparent after:content-[''];
}

.btn-primary {
  @apply mt-4 inline-flex h-[34px] min-w-[108px] items-center border-[1px] border-solid border-green-normal bg-transparent bg-white px-4 py-0 text-center font-semibold tracking-[.03em] text-white transition duration-300 ease-in-out hover:bg-green-normal;
}

.btn-secondary {
  @apply mt-4 inline-flex h-[34px] min-w-[108px] items-center border-[1px] border-solid border-pink-normal bg-transparent px-4 py-0 text-center font-semibold tracking-[.03em] text-pink-normal transition duration-300 ease-in-out hover:bg-pink-normal hover:text-white;
}

.section-btn {
  @apply relative z-10 min-w-[200px] border-[3px] border-solid border-green-normal bg-green-normal px-[18px] py-[10px] text-xl font-bold uppercase tracking-[.15em] text-white transition duration-300 ease-in-out hover:bg-transparent;
}

/* react-slick custom css */
.slick-list {
  @apply py-[30px] !important;
}

@media screen and (min-width: 992px) {
  .slick-list {
    @apply py-[110px] !important;
  }
}

@media screen and (min-width: 1200px) {
  .slick-list {
    @apply py-[140px] !important;
  }
}

.slick-dots li {
  @apply h-[10px] w-[60px] !important;
}
.slick-dots li button::before {
  @apply h-full w-full border-2 border-solid border-pink-normal transition duration-300 ease-in-out !important;
  color: unset;
}

.slick-dots li.slick-active {
  @apply bg-pink-normal;
}

.slick-center {
  @apply lg:scale-150;
}

.slick-prev {
  @apply absolute left-4 z-10 scale-[1.4] !important;
}

.slick-next {
  @apply absolute right-4 z-10 scale-[1.4] !important;
}
